__pycache__/

boblica/tools/database.py
examples/
boblica/app/dash.py
boblica/app/dashboard.py
boblica/setup/config.ini
boblica/setup/functions.py

# Virtualenv source directory for develoment
venv/

# Development sandbox files
sandbox/

# Documentation build output directory
docs/build/

# PyCharm
.idea/